---
import { motionSectionClass } from '../constants/ids';

type Props = {
  id: string;
  background?: 'default' | 'secondary' | 'tertiary';
};
const { id, background } = Astro.props;
---

<section
  id={id}
  class={`${motionSectionClass} flex p-4`}>
  <div
    class='rounded-default min-h-(--view) relative flex h-full w-full flex-col items-center justify-center gap-8 p-4'
    class:list={{
      'bg-surface-default': background === 'default' || !background,
      'bg-surface-secondary': background === 'secondary',
      'bg-surface-tertiary': background === 'tertiary',
    }}>
    <slot />
  </div>
</section>
